@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}


.playlist-details-banner {
  background-color: #d8e9df;
  padding: 1.5rem;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #208245;
}

.playlist-details-banner:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 1px 3px 5px rgba(12, 19, 19, 0.15);
          box-shadow: 1px 3px 5px rgba(12, 19, 19, 0.15);
  box-shadow:5px 5px 3px rgba(32, 130, 69, 2);
}

/* .playlist-details-banner:hover .thumb img {
  display: none;
} */

/* .playlist-details-banner:hover .video-container {
  display: block;
} */

.playlist-details-banner .container {
  max-width: 1200px;
  margin: 0 auto;
}

.playlist-details-banner .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlist-details-banner .column {
  flex: 1;
}

.playlist-details-banner .thumb img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.playlist-details-banner .details {
  text-align: center;
}

.playlist-details-banner h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.playlist-details-banner p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.playlist-course-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.playlist-course-desc span {
  margin-right: 1rem;
  font-size: 1rem;
  color: #208245;
}

.playlist-course-desc span i {
  margin-right: 0.5rem;
}

.playlist-course-desc .inline-btn {
  background-color: #208245;
  color: #d8e9df;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.playlist-course-desc .inline-btn:hover {
  background-color: #232d39;
}



@media (max-width: 868px) {
  .playlist-details-banner .row {
      flex-direction: column;
    }
  .playlist-details-banner .column {
      width: 100%;
    }
  .playlist-details-banner .column-image {
      order: 1;
      margin-bottom: 20px;
    }
  .playlist-details-banner .column-details {
      order: 2;
    }
  }

@media (max-width: 768px) {
  .playlist-details-banner .row {
      flex-direction: column;
    }
  .playlist-details-banner .column {
      width: 100%;
    }
  .playlist-details-banner .column-image {
      order: 1;
    }
  .playlist-details-banner .column-details {
      order: 2;
    }
  }

html {
  scroll-behavior: smooth;

  /* Variables For Storing Colors */
  --primary-clr: #208245;
  --primary-medium-clr: #d8e9df;
  --primary-light-clr: #edfaf1;
  --bg-clr-1: #ffffff;
  --dark-heading-clr: #232d39;
  --dark-text-clr: #6c757d;
  --light-heading-clr: #efefef;
  --light-text-clr: #cecece;
}
/*   === Global Styling Starts ===   */
.section-header h1 {
  position: relative;
  font-size: 32px;
  letter-spacing: 1px;
  color: var(--dark-heading-clr);
  margin-bottom: 20px;
}
.section-header h1::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  left: 0;
  top: calc(100% + 5px);
  background-color: var(--dark-text-clr);
}
.section-header h1::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  left: 0;
  top: calc(100% + 4px);
  background-color: var(--primary-clr);
}
.section-header p {
  color: var(--dark-text-clr);
  margin-bottom: 40px;
  max-width: 700px;
}
/*   === Global Styling Ends ===   */
body {
  background: #d8e9df;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
.website-container {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0px auto;
}
/*   === Home Section Styling Starts ===   */
section.courses {
  width: 100%;
  /* padding: 100px 8% 20px; */
  padding: 40px 8% 20px;
}
.courses .section-header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.courses .section-header .courses-btn {
  position: absolute;
  right: 0;
  bottom: 40px;
  padding: 10px 26px;
}
.courses .course-contents {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.courses .course-contents .course-card {
  flex-basis: calc(calc(100% / 3) - 1.2%);
  /* background: linear-gradient(270deg,transparent,#208245); */
  border: 1px solid #208245;
  padding: 10px;
  /* width: 100%; */
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

#exclusive{
  /* background-color: #232d39; */
  border: 3px solid #208245;

 }

 .course-heading{

  text-align: center;
  background: #208245;
  color: #d8e9df;
  margin:10px;
  padding: 10px;
  border-radius: 5px;
  width: auto;
 }

.courses .course-contents .course-card:hover {
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 0px 15px rgba(32, 130, 69, 0.5);
}
.course-contents .course-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.course-contents .category {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.course-card .category img {
  position: absolute;
  width: 50px;
  height: 0px;
  object-fit: cover;
  border-radius: 50%;
  right: 15px;
  top: -50%;
  outline: 1px solid var(--primary-clr);
  outline-offset: 3px;
}
.course-card .category .subject {
  text-decoration: none;
  padding: 8px 8px;
  background-color: var(--primary-light-clr);
  border-radius: 5px;
}
.course-card .category .subject h3 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-clr);
}
.text-line-remove {
  text-decoration: none;
}
.course-card .course-title {
  font-size: 20px;
  color: var(--dark-heading-clr);
}
.course-card .course-desc {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.course-card .course-desc span {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-text-clr);
}
.course-card .course-desc span i {
  color: var(--primary-clr);
}
.course-card .course-ratings {
  padding: 15px 0px 0px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #232d39;
}
.course-card .course-ratings span {
  color: var(--primary-clr);
  font-size: 18px;
  font-weight: bold;
}
.course-card .course-ratings span:nth-child(1) i {
  color: gold;
  font-size: 14px;
}
.course-card .course-ratings span b {
  font-size: 24px;
}

.simple {
  font-size: small;
  font-weight: 500;
  min-height: 3.5em;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Disable scroll */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #d8e9df;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%; /* Max width */
  max-height: 80%; /* Max height */
  overflow: auto; /* Enable scroll if content exceeds the modal */
  border-radius: 10px; /* Rounded corners */
  position: relative; /* Ensure proper positioning of the close button */
}

/* Close Button */
.close {
  color: #aaa;
  font-size: 35px;
  font-weight: bold;
  position: absolute; /* Position the close button */
  top: 5px; /* Adjust the top distance */
  right: 10px; /* Adjust the right distance */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Text */
.modal-text {
  text-align: justify; /* Justify text */
  margin-top: 40px; /* Adjust the top margin to create space for the close button */
}  

/*   === Media Query Starts ===   */
@media (max-width: 968px) {
  /* Home Section */

  /* Courses Section */
  .courses .course-contents .course-card {
    flex-basis: calc(calc(100% / 2) - 1.2%);
  }
  .courses .section-header {
    flex-direction: column;
  }
  .courses .section-header .courses-btn {
    position: relative;
    align-self: flex-start;
    margin-top: 20px;
  }
  /* Courses Categories Section */
  .categories-contents .category-item {
    flex-basis: calc(calc(100% / 2) - 1%);
    margin-bottom: 15px;
  }
  /* Footer Section */
  .footer-contents .footer-col {
    flex-basis: calc(calc(100% / 2) - 20px);
  }
}

@media (max-width: 768px) {
  /* Home Section */
  .banner-img-container .states .total-courses {
    left: 5px;
    bottom: 10%;
  }
  .banner .banner-desc h2 {
    font-size: 42px;
  }
}

@media (max-width: 668px) {
  /* Courses Section */
  .courses .course-contents .course-card {
    flex-basis: 100%;
  }
}

@media (max-width: 568px) {
  /* Courses Categories Section */
  .categories-contents .category-item {
    flex-basis: 100%;
  }
  /* Footer Section */
  .footer-contents .footer-col {
    flex-basis: 100%;
  }
}

@media (max-width: 468px) {
  .banner-img .banner-img-container {
    width: 100%;
  }
  .banner .banner-desc .search-bar {
    width: 100%;
  }
  .banner-img-container .states .courses-ratings {
    top: 30px;
    right: -10px;
  }
  .banner .banner-desc h2 {
    font-size: 32px;
  }

  /* Partners Section */
  .partners h3 {
    margin-right: 0px;
    margin-bottom: 80px;
  }
}
/*   === Media Query Ends ===   */
