{% extends "tango/base.html" %} {% load static %} {% block title %} |
About{%endblock title %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/Css/about.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>
<div class="heading">
  {% comment %}
  <h1>About Us</h1>
  {% endcomment %} {% comment %}
  <p>Here is a short description about us</p>
  {% endcomment %}
</div>
<div class="container">
  <section class="about">
    <div class="about-image">
      <img src="{% static '/images/TangoLogo.png' %}" alt="Tango" />
    </div>
    <div class="about-content">
      <h2>Operational Philosophy</h2>
      <p>
        Timing, Accuracy, and Degree of Force are critical elements for creating
        the security shield around the assets we wish to secure and defend. As
        the law of nature suggests - 'The Survival of The Fittest', something
        similar applies in the Security domain. It is - 'Creating a significant
        threat, for a threat, that creates the ultimate deterrence against that
        threat.' In other words, you do not grab a hot pan because you know
        you'd burn your hand. At TSoC, we create security designs that reflect a
        significant threat to those who intend to invade and disrupt normalcy.
        It's our way of creating an effective deterrence mechanism. Our 5 P's
        methodology (Predict, Prepare, Protect, Prevent, & Preserve) ensures
        that all aspects of threat identification & mitigation are observed.
        Both 'Low Probability - High Impact' to those which are High
        Probability - Low Impact.
      </p>
    </div>
  </section>

  <section class="about">
    <div class="about-content">
      <h2>Mission</h2>
      <p>
        To bring the most affordable, comprehensive and dynamic Personal
        Security Education, Skills and Security Consulting to a common civilian
        and to help them secure and defend themselves and their loved ones from
        the malicious intent and action that qualifies as one as per the law of
        our land.
      </p>
      <br />
      <h2>Vision</h2>
      <p>
        Reforming our society to one, where we could let our kids grow with
        freedom of movement, freedom of time, freedom of expression and freedom
        of respectful speech and behaviour. A society where as parents we would
        not fear sending our kids out by themselves. A society where each is
        proficient in displaying a security culture that contributes to the
        security and safety of all in it.
      </p>
    </div>
    <br />
    <div class="about-image">
      <img
        height="400px"
        width="400px"
        src="{% static '/images/sir.jpg' %}"
        alt="Tango"
      />
    </div>
  </section>
  <br />
  <br />
  <br />
  <br />

  <h1>Our Values</h1>
  <br />
  <br />
  <section class="about">
    <div class="about-content">
      <h2>CARE</h2>
      <p>
        One of the toughest tasks we have thus far encountered and accomplished
        is training victims of crime into future warriors. The only element that
        helped us during this training was our genuine care for them, their
        families and in some cases their children. We cared because a victim
        more often raises either a victim, or an extreme case of an aggressor.
        Today they are raising a generation who will not just be a survivor but
        also never be a bystander to crime and abuse.
      </p>
      <br />
      <h2>DEPENDABILITY</h2>
      <p>
        Why would you waste your precious time and money if we couldn't prove
        ourselves dependable in times when you need expert advice or training
        assistance to help you build your counter crime resilience to keep
        yourself and your loved ones secured and safe? In every interaction we
        have, we strive hard to prove ourselves - irrespective of the
        testimonies we have from the past.
      </p>
      <br />
      <h2>TRUST</h2>
      <p>
        In times of peril/danger, we think of God or our parents. We know that
        they are the only ones who would come to our rescue unconditionally.
        Your time + your money + your efforts + our expertise + our commitment +
        our time will turn you into a trust worthy friend in need. Your friends
        will now think of you along with their other options in times of peril.
      </p>
      <br />
      <h2>INTEGRITY</h2>
      <p>
        During our trainings, many share their inner most feelings, their
        dreaded experiences, their private moments of shame when they were being
        victimised. They do so because they know of our integrity to keep what
        is theirs as guarded as if it was ours. There can be NO SECURITY without
        Integrity. And we swear by ours.
      </p>
      <br />
      <h2>RESPECT</h2>
      <p>
        We respect your fears. Your vulnerabilities. Your limitations to act
        against what is wrong. But we respect your security and safety a little
        more. We respect your dignity and right to personal and social security.
        And that is what will remain our foremost priority during our
        interaction. Nothing more, nothing less.
      </p>
      <br />
    </div>
  </section>
  <br />
  <br />
  <br />
  <h1>Our Team</h1>
  <br />
  <br />

  <section class="about">
    <div class="about-image2">
      <img src="{% static '/images/T0.jpg' %}" alt="Tango" />
    </div>
    <div class="about-content">
      <h3>Chakradhari Rowe</h3>
      <p>Security Architect and Instructor</p>
      <br />
      <p>
        A graduate in Protection and Counter Terrorism from the International
        Security Academy, Herzliya - Israel,
        <a
          style="text-decoration: none"
          href="https://youtu.be/jdLzJxnG-oE?feature=shared"
          target="_blank"
          >CR</a
        >
        has been actively contributing to the security industry on various
        forums as a subject matter expert by offering to consult in the physical
        security architecture space, tactical training for close protection
        units and auditing their operational efficacy against modern-day
        threats, capability building and new product innovation for private
        security agencies, and being an on-call tactical/advisory resource for a
        few organizations in India and abroad. With his passion for facilitating
        human transformation, he has dedicated himself to the cause of Building
        India’s Security Culture through his training in Israeli Counter Crime
        Education, something he conceptualized from the Israeli Security
        Doctrine he studied, during his training in Israel. He also loves
        talking about his life’s lessons and tactical life skills at every
        opportunity he gets to interact with the youth.
      </p>
      <br />
      <a href="https://www.linkedin.com/in/crspeaks/" target="_blank"
        ><button class="button"><i class="fab fa-linkedin-in"></i></button
      ></a>
    </div>
  </section>
  <br />
  <br />
  <br />

  <section class="about">
    <div class="about-image2">
      <img src="{% static '/images/T1.jpg' %}" alt="Tango" />
    </div>
    <div class="about-content">
      <h3>Vivek Gurav</h3>
      <p>Catalyst and Advisor (West and North India)</p>
      <br />
      <p>
        With over 12 years of experience in physical security, corporate
        security, and security training management, Vivek is a strong pillar of
        strength. He has been with TSoC since 2020 and has extensive work
        experience with companies like NISA, G4S, Zicom, and such. He joins us
        as a subject matter expert in building a curriculum in security training
        and SOPs for security efficient deployment and innovation in new
        capabilities for the private security industry. With his extensive
        boots-on-ground experience, Vivek is our go-to mind for practical
        operational strategies. His belief and commitment to building Bharat's
        Security Culture add to our bond as brothers in arms.
      </p>
      <br />
      <a
        href="https://www.linkedin.com/in/vivek-gurav-60711651/"
        target="_blank"
        ><button class="button"><i class="fab fa-linkedin-in"></i></button
      ></a>
    </div>
  </section>
  <br />
  <br />
  <br />
  <br />
  <section class="about">
    <div class="about-image2">
      <img src="{% static '/images/T2.jpeg' %}" alt="Tango" />
    </div>
    <div class="about-content">
      <h3>Yadunandan Katragadda</h3>
      <p>Catalyst and Advisor (South India)</p>
      <br />
      <p>
        As an Engineer, Business Operations and Strategy planning expert, and an
        Entrepreneur with 7 years of experience, he has honed his skills as a
        strategic thinker, advisor, and instructor to those navigating the
        complexities of tactical operations. His commitment to enhancing
        situational awareness and developing effective crisis response
        strategies is driven by a desire to provide tailored solutions that
        drive tangible results. But it's not just about technical expertise. He
        believes in fostering a culture of continuous improvement and
        resilience, instilling confidence, fostering teamwork, and cultivating a
        mindset of adaptability in the face of adversity. He's here at TSoC to
        help us unlock the full potential of individuals and organizations, one
        tactical skill at a time. His belief and commitment to building Bharat's
        Security Culture adds to our bond as brothers in arms.
      </p>
      <br />
      <a
        href="https://www.linkedin.com/in/yadunandankatragadda5588/"
        target="_blank"
        ><button class="button"><i class="fab fa-linkedin-in"></i></button
      ></a>
    </div>
  </section>

  <br />
  <br />
  <br />
  <br />
  <section class="about">
    <div class="about-image2">
      <img src="{% static '/images/T3.png' %}" alt="Tango" />
    </div>
    <div class="about-content">
      <h3>Manan Batra</h3>
      <p>Intelligence and Corporate Finance Head</p>
      <br />
      <p>
        As an entrepreneur and corporate finance professional, Manan has always
        believed in following his passions and taking action to achieve his
        dreams. Now, Manan is stepping into the world of security with a mission
        to protect and nurture human life. Manan promises to disrupt and
        dominate this arena, as he believes that every life is precious and
        deserves to be safeguarded.
      </p>
      <br />
      <a href="https://www.linkedin.com/in/m-batra/" target="_blank"
        ><button class="button">
          <i class="fab fa-linkedin-in"></i></button
      ></a>
    </div>
  </section>
  <br />
  <br />
  <br />

  {% comment %}
  <h1><span> From The Blog</span></h1>
  <br />
  <br />
  <section class="about">
    <div class="about-image">
      <img src="{% static 'images/x.jpg' %}" alt="Tango" />
    </div>
    <div class="about-content">
      <h2>Martial Arts For Kids?...A BAD IDEA!</h2>
      <p>
        A common perspective that is built on the movies we see of Bruce Lee,
        Jackie Chan or the Karate Kid and his coach Miyagi, makes us believe
        that it's all one needs to learn to stay safe. Martial arts is however
        not really that. In a span of few hours, a kid getting bullied
        transforms into a fighter like none other. But this happens only in REEL
        Life.
      </p>
    </div>
  </section>
  <br />
  <br />
  {% endcomment %}
  <br />
</div>

{% endblock content %}
