{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" property="og:title" content="Tango Six O'Clock">
    <meta name="image" property="og:image" content="https://tangowindows.s3.amazonaws.com/images/TangoLogo.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA3J2PI5IBCMJAUV7L%2F20240221%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20240221T114750Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=184a72dc792eb95e9e72ad15394ca9ea6e287cba4a204898c6092dc372eb15d1">
    <meta name="description" property="og:description" content="Tango Six O'Clock is your Armory. Whether you are an individual, family, society, institution, corporation, or state, we offer whatever you need to secure and defend yourself and your assets against all malicious intent or actions. Let's join forces to make Bharat Secure and Safe from within.">
    <meta property="og:type" content="website">    
    <meta name="Tango" property="og:url" content="www.tangosixclock.in">
    <meta name="title" property="og:image:width" content="50px">
    <meta name="title" property="og:image:height" content="100px">
    <title>Tango Six O'Clock {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static '/images/Tango.webp' %}" type="image/x-icon">
    {% block style %}{% endblock style %}
</head>
<body>
    <header>
        {% include "tango/navbar.html" %}
    </header>

    <main>
        {% block content %}
        
        {% endblock content %}
    </main>
    
    <footer>
        {% include "tango/footer.html" %}
    </footer>
    
</body>
</html>