{% extends "tango/base.html" %}
{% load static %}

{% block content %}
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Frequently Asked Questions</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/Css/faq.css' %}">
</head>
<body>
<div class="wrapper">
  <h1>FREQUENTLY ASKED QUESTIONS</h1>

  <div class="faq">
    <button class="question">
      What is Tango Six O'Clock (TSoC)?
      <i style="display:block" class="fa-solid fa-chevron-down"></i>
      <i style="display:none" class="fa-solid fa-chevron-up arrow-up"></i>
    </button>
    <div class="pannel">
      <p>
        Tango Six O'Clock (TSoC) is your Armoury. Whether you are an individual, family, society, institution, corporation, or state, we offer whatever you need to secure and defend yourself and your assets against all malicious intent or actions.
      </p>
      <p>
        Let's join forces to make Bharat Secure and Safe from within.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="question">
      How are TSoC’s ICCE programs unique compared to other security programs?
      <i style="display:block" class="fa-solid fa-chevron-down"></i>
      <i style="display:none" class="fa-solid fa-chevron-up arrow-up"></i>
    </button>
    <div class="pannel">
      <p>
        We don’t know of any Israeli Counter Crime Education Programs running in India for us to be compared with. But keeping the comparison aside, we bring you simplified security education to help a common citizen secure and defend themselves against criminals and radicals.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="question">
      How can Tango Six O'Clock help me secure my assets?
      <i style="display:block" class="fa-solid fa-chevron-down"></i>
      <i style="display:none" class="fa-solid fa-chevron-up arrow-up"></i>
    </button>
    <div class="pannel">
      <p>
        <strong>We can help you in 2 ways:</strong>
      </p>
      <p>
        <ol>
          <li>
            You can opt for our 360 Degree Security Architecture Service. Here we visit and study not just your asset but also possible vulnerabilities that could be exploited by the malicious. We then design a security architecture around your asset to increase the deterrence factor around your asset.
          </li>
          <li>
            You can opt for our ICCE programs. We will help you learn the basics in the subject of security and enable you to identify and fortify your vulnerabilities from being exploited by criminals and radicals.
          </li>
        </ol>
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="question">
      What industries can benefit from Tango Six O'Clock?
      <i style="display:block" class="fa-solid fa-chevron-down"></i>
      <i style="display:none" class="fa-solid fa-chevron-up arrow-up"></i>
    </button>
    <div class="pannel">
      <p>
        We are an industry agnostic service provider - so no matter what your industry is, we can provide a security solution for you.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="question">
      What is the 5 P's Philosophy?
      <i style="display:block" class="fa-solid fa-chevron-down"></i>
      <i style="display:none" class="fa-solid fa-chevron-up arrow-up"></i>
    </button>
    <div class="pannel">
      <p>
        The 5Ps Philosophy is a comprehensive approach to threat mitigation that involves five key principles:
      </p>
      <p>
          <ol>
            <li>
              <strong>Predict:</strong> Anticipate and forecast potential threats and risks by analysing past data and current trends.
            </li>
            <li>
              <strong>Prepare:</strong> Develop plans, procedures, and resources to effectively respond to identified threats and minimise their impact.
            </li>
            <li>
              <strong>Protect:</strong> Implement measures to safeguard critical assets, infrastructure, and personnel from potential threats.
            </li>
            <li>
              <strong>Prevent:</strong> Take proactive steps to eliminate or minimise the likelihood of threats or attacks from occurring.
            </li>
            <li>
              <strong>Preserve:</strong> Focus on maintaining business continuity and minimising the long-term impact of threats on operations, assets, and reputation.
            </li>
          </ol>
      </p>
      <p>
        By incorporating these principles into threat mitigation strategies, organizations can create a more robust and proactive approach to managing risks and protecting their interests.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="question">
      How can I join Tango Six O'Clock?
      <i style="display:block" class="fa-solid fa-chevron-down"></i>
      <i style="display:none" class="fa-solid fa-chevron-up arrow-up"></i>
    </button>
    <div class="pannel">
      <p>
        Send us your resume with a one page essay on why you want to join us and we’ll find the best way forward. We are looking for individuals who are passionate about security and innovation in it.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="question">
      What kind of support does Tango Six O'Clock offer?
      <i style="display:block" class="fa-solid fa-chevron-down"></i>
      <i style="display:none" class="fa-solid fa-chevron-up arrow-up"></i>
    </button>
    <div class="pannel">
      <p>
        For B2B clients the support will depend on the services that we have been hired for. For a B2C case, we offer interactive support to enable your up-skilling in the domain of ICCE.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="question">
      How can I contact Tango Six O'Clock?
      <i style="display:block" class="fa-solid fa-chevron-down"></i>
      <i style="display:none" class="fa-solid fa-chevron-up arrow-up"></i>
    </button>
    <div class="pannel">
      <p>
        You can connect with us via our WhatsApp on +918287725661 or shoot us an email with your query on <a style="text-decoration: none;" href="mailto:info@tangosixoclock.in">info@tangosixoclock.in</a>
      </p>
    </div>
  </div>

    <div class="faq">
    <button class="question">
      How does Tango Six O'Clock ensure accuracy in threat identification?
      <i style="display:block" class="fa-solid fa-chevron-down"></i>
      <i style="display:none" class="fa-solid fa-chevron-up arrow-up"></i>
    </button>
    <div class="pannel">
      <p>
        We can ensure that we teach you all that can be taught on the subject with respect to a civilian. To learn advanced threat identification methodologies you can enrol into universities that offer professional courses in Criminal Psychology, Criminal Profiling, CPTED, etc.
      </p>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static "javascript/faq.js" %}"></script>

</body>
{% endblock content %}