{% extends "tango/base.html" %}
{% load static %}
{% block title %} | Privacy Policy{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/Css/privacy.css' %}">
 <br>
 <br>
 <br>

  <div class="container">
    <h1>PRIVACY POLICY</h1>
    <br>
    <p>We respect your right to privacy and are committed to protecting your privacy and we will do what we reasonably can to protect the identity and private details of all users on this site.</p>

    <h2>Consent</h2>

    <p>This Privacy Policy applies to your use of tangosixoclock.in (the “Website/Company”). 
      It tells you (the customer) what to expect when we collect personally identifiable information about you, and what your rights are concerning the collection of your information. 
      By using our website, you hereby consent to our Privacy Policy and agree to its terms.
    </p>

    <h2>Information we collect</h2>

    <p>We will not collect any personally identifiable information about you unless it is in response to you using our Website or actively registering for one of our online products. The security of your personally identifiable information is extremely important to us.</p>

    <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>

    <h2>How we use your information</h2>

    <p>We use the information we collect in the following ways:</p>

    <ul>
      <li>Send you relevant emails (we hate spam).</li>
      <li>Understand and analyze how you use our website.</li>
    </ul>
<br>
    <h2>Your rights</h2>

    <p>You have the following data protection rights:</p>

    <ul>
      <li>You may unsubscribe from certain email communications by writing to us on <a href="mailto:support@tangosixoclock.in">support@tangosixoclock.in</a></li>
      <li>Similarly, if we have collected and processed your personal information on the basis of your consent, then you can withdraw your consent at any time. Withdrawing your consent will not affect the lawfulness of any processing we conducted prior to your withdrawal, nor will it affect the processing of your personal information conducted in reliance on lawful processing grounds other than consent.</li>
      <li>If you have any privacy-related questions or unresolved problems, you may contact us on <a href="mailto:support@tangosixoclock.in">support@tangosixoclock.in</a></li>
      <li>For more information, please contact your local data protection authority.</li>
    </ul>
    <br>
    <h2>Children</h2>

    <p>We take seriously our legal obligation to protect the privacy of children. Accordingly, we do not knowingly collect or maintain personal information from persons under 13 years of age, and no part of the Website is directed to persons under 13 years of age.</p>

    <h2>Cookies</h2>

    <p>The website doesn't use cookies.</p>

    <h2>Updating this Privacy Policy</h2>

    <p>This Privacy Policy is regularly reviewed to make sure that we continue to serve your privacy interests and we reserve the right to update it as we deem necessary.</p>

    <h2>Contact details</h2>

    <p>If you have any questions, comments, or complaints about this Privacy Policy please contact us at <a href="mailto:support@tangosixoclock.in">support@tangosixoclock.in</a>.</p>
  </div>
<br>
  {% endblock %}