{% extends "tango/base.html" %}
{% load static %}
{% block title %} | Refund Policy{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/Css/privacy.css' %}">
 <br>
 <br>
 <br>
 <div class="container">
    <h1>REFUND POLICY</h1>
    <br>
    <p>In case of dissatisfaction with the course, you have the liberty to cancel the course and request a refund from us. Our Policy for the cancellation and refund is as follows:</p>

    <p>1. All courses come with a 3-day refund request window, starting from the date of purchase. At any point during these 3 days, write to <a href="mailto:support@tangosixoclock.in">support@tangosixoclock.in</a> with your refund request.</p>
    <p>2. Refund requests will be approved/rejected on a case to case basis at the sole discretion of the company.</p>
    <p>3. If a refund request is approved, the money will be returned to your original payment mode within 5-7 business working days from the date of approval. </p>
    <p>4. Once rejected, refund requests cannot be resubmitted.</p>
    <p>5. Refund requests will not be considered after the 3-day refund-request window (as mentioned in 1.) has elapsed.</p>

</div>

<br>
  {% endblock %}