{% extends "tango/base.html" %}
{% load static %}
{% block title %} | Return Policy{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/Css/privacy.css' %}">

 <br>
 <br>
 <br>
 <div class="container" id="testimonial">
    <h1>NO TESTIMONY POLICY</h1>
    <br>

    <p>1. Information is the greatest and the most easily found vulnerability that businesses and individuals have. Having dealt with many cases of breach in personal and corporate security that result out of information leak or availability of it via OSINT (Open Source Intelligence) sources like websites and social media, we feel it is wiser to avoid letting the adversaries know who our clients or vendors are.</p>
    <p>2. We would like to place the privacy and security of our clients and vendors above our marketing needs and hence discourage testimonies that reveal identities. We do not put up anonymous testimonies, they are as good as manufactured concoctions and lack credibility. Those who know us, know our quality of work. And they do a fantastic job in helping us by recommending us via word of mouth.</p>
    <p>3. We approach every client like they are our first and bring them on board through 'Discovery Meets'. These are preliminary face to face talks that help us connect with our clients and vendors before on-boarding. Such interactions also help clarify most queries and concerns that we might have to bridge.</p>
    <p>4. Call us on +91 8287725661 or write to us on <a href="mailto:info@tangosixoclock.in">info@tangosixoclock.in</a> with your service requirements, and we'll reach out to you.</p> 

</div>

<br>
  {% endblock %}